<div class="container">
    <div class="row justify-content-center">
        <div class="col-10">    
            <%= render 'shared/errors'%>
            <%= form_with(model: @article, class: "shadow p-3 mb-3 bg-warning rounded" ,local: true) do |f| %>
                <div class="from-group row mt-4">
                    <%=f.label :title, class:"col-2 col-form-label text-primary" %>
                    <div class="col-10">
                        <%=f.text_field :title, class: "form-control shadow arunded" , placeholder: "Title of article"%>
                    </div>
                </div>
                <div class="from-group row mt-4">
                    <%=f.label :description, class:"col-2 col-form-label text-primary"%>
                    <div class="col-10">
                        <%=f.text_area :description, rows: 10, class: "form-control shadow arunded",placeholder: "Description of article"%>
                    </div>
                </div>
                <div class="from-group row mt-4 justify-content-center">
                    <%= f.submit class: "btn btn-outline-success btn-lg text-dark"%>
                </div>
            <%end%>
        </div>
        <div class="mt-4">
            <%= link_to '[Cancel and return to articles listing]', articles_path%> 
        </div>
    </div>
</div>

